Airbnb search.json
{
  "name": "Airbnb search",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ],
      "id": "6d2d87f8-06d9-4f94-92f2-737b25c7389a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -240,
        -64
      ],
      "id": "81bf4c51-d359-4481-a157-80acc407968b",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "BYlYVlrkv5evlA3i",
          "name": "MCP Client (STDIO) account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.tools[0].name }}",
        "toolParameters": "{\n   \"location\":\"los angeles\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        -64
      ],
      "id": "e585d213-560c-48fe-b31a-0bcfdf67b02e",
      "name": "MCP Client1",
      "credentials": {
        "mcpClientApi": {
          "id": "BYlYVlrkv5evlA3i",
          "name": "MCP Client (STDIO) account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        128
      ],
      "id": "f1895317-613f-4075-87c1-f835c3eb6437",
      "name": "When chat message received",
      "webhookId": "d6efafad-f06c-437e-a4c2-932c2bdcd5a5"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        128
      ],
      "id": "21e8ff3f-c894-4b23-ab94-79d9fde53db5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        336
      ],
      "id": "c6a36592-5831-4359-bd55-2b08a00b4cb5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "41i7X5gdtixW6QR9",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        64,
        432
      ],
      "id": "063027d3-6dd7-47b3-8e85-fffa18ff35b4",
      "name": "Airbnb Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "BYlYVlrkv5evlA3i",
          "name": "MCP Client (STDIO) account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -32,
        336
      ],
      "id": "7daf7327-70b8-4c84-8385-0968438c345e",
      "name": "Airbnb Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "BYlYVlrkv5evlA3i",
          "name": "MCP Client (STDIO) account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "MCP Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc561d97-1c41-4aea-b15d-c6387a91fe78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "985369eacd5b5af2860146e8c60f61569bd6ac0d57061ff43eb7fbb8b5a71d84"
  },
  "id": "SUJN5LcMZxFB5nWH",
  "tags": []
}